html, body
  height 100%
  width 100%

.navbar
  border-bottom none
  box-shadow none
  -webkit-box-shadow none

.splash
  height 100%
  width 100%
  background-color black
  background-size cover
  .navbar
    background transparent
  .jumbotron
    background-color transparent

.light
  color white
  h1,h2,h3,h4,h5,h6,p
    color white
