template(name="cover")
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Cover
            nav.nav.nav-masthead
              a.nav-link.active(href='#') Home
              a.nav-link(href='#') Features
              a.nav-link(href='#') Contact
        .inner.cover
          h1.cover-heading Cover your page.
          p.lead
            | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
          p.lead
            a.btn.btn-lg.btn-secondary(href='#') Learn more
        .mastfoot
          .inner
            p
              | Cover template for
              a(href='http://getbootstrap.com') Bootstrap
              | , by
              a(href='https://twitter.com/mdo') @mdo
              | .
