template(name="splash")
  .splash(style="background-image:url('https://images.unsplash.com/photo-1442606440995-d0be22c5f90f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=13397bac410c5abf133597495709de45')")
    +navbarMin
    .container-fluid
      .row
        .col-md-12
          .jumbotron.light
            h1 Lorem Ipsum Dolor Sit Amet
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .row
                .col-xs-2.col-xs-offset-3
                  button.btn.btn-info() Sign up
                .col-xs-2
                  button.btn.btn-secondary-outline() Find out more
